section

  header.major
    h2 Editorial Board

  header.major
    h3 Chief Editor

  div.posts#editor
    article
      h4 Robert William McGee
      p Fayetteville State University, United States of America

  header.major
    h3 International Board of Editors
  div.posts#editorialBoard

script#members(type='text/x-jquery-tmpl').
    <article>
      <h4>${ name }</h4>
      <p>${ university }, ${ country }</p>
    </article>

script.
  var url = "https://jaepp.borke.site/api/collections/get/editorial_board";
  var editorialBoard = $.getApiData(url);

  editorialBoard.forEach( function(data) {
    var member = new Member( data );
    $.tmpl( $('#members'), member).appendTo('#editorialBoard');
  });