<hr class="my-4">

<h4 class="display-7">Editorial Board</h4>

ul
  li Jaan Alver, Tallinn University of Technology, Estonia
  li Lehte Alver, Tallinn University of Technology, Estonia
  li Yuhua An, University of International Business and Economics, China
  li Susana N. Vittadini Andres, Universidad de Buenos Aires, Argentina
  li Meliha Basić, University of Sarajevo, Bosnia & Herzegovina
  li Serkan Benk, Inonu University, Turkey
  li Bella Butler, Curtin University of Technology, Australia
  li Ravi K. Jain, Dhruva College of Management, Hyderabad, India
  li Bouchra M’Zali, University of Quebec at Montreal, Canada
  li Tatyana Maranjyan, Moscow State University of Economics, Statistics and Informatics, Yerevan Branch, Armenia
  li Iryna Nasadiuk, Odessa National University, Ukraine
  li Rodney Oglesby, Drury University, USA
  li Silvia López Paláu, University of Puerto Rico
  li Yanira Petrides, Instituto Tecnológica Autónoma de México
  li Galina G. Preobragenskaya, Abu Dhabi University, UAE
  li Helen M. Roybark, Radford University, USA
  li Željko Šević, Glasgow Caledonian University, UK
  li Orapan Yolrabil, Thammasat University, Thailand
  li Yeomin Yoon, Seton Hall University, USA