
section
  header.major
    h2 Featured Papers

  div.posts#posts


script#papers(type='text/x-jquery-tmpl').
    <article>
      <h5>${ title }</h5>
      <p>${ description }</p>
      <ul class="actions">
        <li><a href="${ href }" class="button">More</a></li>
      </ul>
    </article>

script.
  var url = "https://jaepp.borke.site/api/collections/get/featured";
  var papers = $.getApiData(url);
  
  console.log( papers );

  papers.forEach( function(data) {
    var paper = new Paper( data );
    $.tmpl( $('#papers'), paper).appendTo('#posts');
  });
