section
  header.major
    h2 Guide for Authors

  div.content#guide

script.
  fetch('https://jaepp.borke.site/api/collections/get/guide')
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    $( "#guide" ).append( myJson.entries[0].guide );
  });