p The Journal of Accounting, Ethics & Public Policy is a double-blind refereed journal. We accept several formats, including Chicago Style, APA, Blue Book and others. We are more concerned with content and consistency than style. Your initial submission can be in any style. If your article is accepted we will send you a template to follow as you prepare your final submission.

h5 Acceptable Topics
p As the title of our journal suggests, we publish articles on accounting, ethics & public policy. If your manuscript overlaps at least two of these disciplines we will probably consider publishing it. We will also consider publishing articles on accounting and economics, accounting and law, taxation, and public finance. If you are not sure that your topic fits, send us an email and attach your manuscript. We will give you our opinion, and perhaps suggestions on how to make the manuscript more suitable for our journal.

p There are no minimum or maximum length requirements. We are more concerned with content and quality than length. If we think your manuscript is too long or too short we will tell you.

p We publish articles on several websites, including the Social Science Research Network, which gives your article worldwide distribution.

p Our copyright policy is quite friendly. We retain the right to publish your article anywhere we want without your permission and you retain the right to publish your manuscript anywhere you want without our permission, provided you mention that it was first published in the Journal of Accounting, Ethics & Public Policy.