section
  header.major
    h2 Guide for Authors

  div.content#guide

script.
  var url = "https://jaepp.borke.site/api/collections/get/guide";
  var data = $.getApiData(url);  
  $( "#guide" ).append( data[0].guide );
