section#banner
  .content
    header
      h1 #{ title }
    p The Journal of Accounting, Ethics & Public Policy publishes research papers focusing on the intersection between accounting, ethics, and public policy. Preference is given to papers illuminating through theorical or empirical analysis, the effects of accouting on public policy and vice-versa.

    p We specialize in publishing high quality scholarly articles in the overlapping interdisciplinary areas of accounting, ethics and public policy.
    
    ul.actions
      li
        a.button.big(href="/guide") Learn More
    
  span.image.object
    img(src="/images/architecture-buildings-campus-220351.jpg", alt="")