section
  header.major
    h2 Next Steps

  div.content#guide
    p Thank you and congratulations on your submission. Our board of editors will review your paper. There is no guarantee that the paper will be accepted. However, if it meets our standards, we will notify you.
    p Good luck.